@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
}

:root {
  --clr-bg-primary: var(--color-slate-100);
  --clr-bg-secondary: var(--color-slate-50);
  --clr-bg-tertiary: var(--color-slate-300);
  --clr-accent: var(--color-violet-800);
  --clr-text-primary: var(--color-slate-900);
  --clr-btn-primary: var(--color-violet-600);

  --size-sidebar: 320px;

  @apply selection:bg-violet-600 selection:text-white;

  &[data-theme='dark'] {
    /* Dark theme variables go here */
    --clr-bg-primary: var(--color-slate-900);
    --clr-bg-secondary: var(--color-slate-800);
    --clr-bg-tertiary: var(--color-slate-950);
    --clr-accent: var(--color-violet-400);
    --clr-text-primary: var(--color-slate-100);
  }
}

* {
  box-sizing: border-box;
  interpolate-size: allow-keywords;
  transition-behavior: allow-discrete;
}

html {
  scrollbar-gutter: stable;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--clr-bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @apply mx-auto max-w-4xl;
}

.btn-group {
  @apply mt-2 flex items-baseline gap-3;
}

.btn {
  @apply inline-grid cursor-pointer place-content-center rounded-md bg-(--clr-button) px-[1.15em] py-[0.65em] font-semibold text-white transition-colors;

  &:hover {
    background-color: color-mix(in srgb, var(--clr-button), black 15%);
  }
  &[data-btn-type='default'] {
    --clr-button: var(--color-slate-700);
  }
  &[data-btn-type='primary'] {
    --clr-button: var(--clr-btn-primary);
  }

  &[data-btn-type='danger'] {
    --clr-button: var(--color-red-500);
  }
  &[data-btn-variant='outline'] {
    @apply bg-transparent outline outline-(--clr-button);
  }
  & > * {
    @apply col-1 row-1 m-auto;
  }
}



.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
