@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
}

:root {
  /* Light theme variables go here */
  --clr-bg-primary: var(--color-slate-800);
  --clr-bg-secondary: var(--clr-slate-700);
  --clr-accent: var(--color-violet-900);
  --clr-text-primary: var(--color-slate-900);

  @apply selection:bg-violet-600;
  @apply selection:text-white;
}

:root[data-theme='dark'] {
  /* Dark theme variables go here */
  --clr-bg-primary: var(--color-slate-100);
  --clr-bg-secondary: var(--color-slate-200);
  --clr-accent: var(--color-violet-900);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    /* Dark theme variables go here */
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--clr-bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @apply max-w-4xl;
  @apply mx-auto;
  @apply px-12;
}
